@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext,cyrillic);
ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:rgba(0,0,0,0.5);border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#ffffff;border-radius:0 4px 4px 4px;-moz-border-radius:0 4px 4px 4px;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-box-shadow:2px 4px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:2px 4px 0 rgba(0, 0, 0, 0.1);box-shadow:2px 4px 0 rgba(0, 0, 0, 0.1);padding:0 3px 3px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;border-width:1px;border-style:solid none none solid;border-color:rgba(0,0,0,0.07);}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:3px 3px 3px 0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.5) inset, 0 0 0 1px rgba(255, 255, 255, 0.08);-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.5) inset, 0 0 0 1px rgba(255, 255, 255, 0.08);box-shadow:0 0 2px rgba(0, 0, 0, 0.5) inset, 0 0 0 1px rgba(255, 255, 255, 0.08);
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 3px;}
ul#css3menu1 ul>li{
	margin:3px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 14px Roboto,Verdana,Geneva,sans-serif;color:#606060;text-shadow:1px -1px 0 rgba(255, 255, 255, 0.5);cursor:pointer;padding:4px 8px 4px 8px;background-color:;background-repeat:repeat;background-position:0 0;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:3px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:5px 15px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:#ffffff;border-width:1px;border-style:solid;border-color:transparent;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;font:bold 12px Roboto,Verdana,Geneva,sans-serif;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#0a3082;text-shadow:1px -1px 0 rgba(255, 255, 255, 0.5);background-position:0 100%;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("arrowmain.png");background-position:right center;background-repeat:no-repeat;padding-right:19px;}
ul#css3menu1 li:hover>a>span{
	background-image:url("arrowmain1.png");}
ul#css3menu1 ul span{
	background-image:url("arrowsub.png");padding-right:16px;}
ul#css3menu1 ul li:hover > a span{
	background-image:url("arrowsub.png");}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	-moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.3) inset;-webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.3) inset;box-shadow:0 0 1px rgba(0, 0, 0, 0.3) inset;background-color:#d7d7d7;border-style:solid;border-color:rgba(0, 0, 0, 0.1);text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	background-color:transparent;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;color:#ffffff;text-shadow:1px -1px 0 rgba(0, 0, 0, 0.3);}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	background-color:#ffffff;color:#606060;text-shadow:1px -1px 0 rgba(255, 255, 255, 0.5);}
ul#css3menu1 li.toproot>a{
	background-color:transparent;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;color:#ffffff;text-shadow:1px -1px 0 rgba(0, 0, 0, 0.3);}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot a.pressed{
	background-color:#ffffff;color:#606060;text-shadow:1px -1px 0 rgba(255, 255, 255, 0.5);}
